header.header
  .container
    .header__logo-pos
      .header__logo-wrap
        img(src="/images", alt="").header__logo-img
    .header__nav-pos
      include ./navigation.pug
    .header__user-block-pos
      .user-block
        a(href="#").user-block__login Вход