.button {
  display: block;
  width: 100%;
  padding: 13px 0;
  border: 2px solid #444;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #444;
  background-color: #ffffff;
  transition: all .1s linear;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    color: #fff;
    background-color: #444;
  }
  &:active {
    color: #8d8d8d;
  }
}