.product {
  padding-top: 28px;
  padding-bottom: 42px;
  background-image: url('/images/bg/bg-zigzag-line.svg');
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: auto 7px;
  @include tablet {
    padding-top: 55px;
    padding-bottom: 70px;
    background-color: #ffffff;
    background-size: auto 15px;
  }
  @include desktop {
    padding-top: 70px;
    padding-bottom: 100px;
    background-size: auto;
  }
}

.product__inner {
  position: relative;
}

.product__header {
  margin-bottom: 24px;
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 55px;
  }
  @include desktop {
    position: absolute;
    top: 48px;
    left: 45px;
    z-index: 1;
  }
}

.product__title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  @include tablet {
    margin-bottom: 0;
    font-size: 43px;
    line-height: 50px;
  }
  @include desktop{
    order: 2;
    margin-left: 49px;
    font-size: 53px;
    line-height: 57px;
  }
}

.product__subtitle {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
  @include tablet {
    width: 80px;
    margin-bottom: 0;
    text-align: center;
    line-height: 17px;
  }
  @include desktop{
    order: 1;
  }
}

.product__wrapper {
  @include tablet {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.product__info {
  @include tablet {
    width: 290px;
    margin-bottom: 165px;
  }
  @include desktop {
    padding-top: 150px;
    padding-left: 175px;
    margin-bottom: 218px;
  }
}

.product__text {
  margin-bottom: 25px;
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  color: #444444;
  @include tablet {
    margin-bottom: 45px;
    font-size: 17px;
    line-height: 30px;
  }
  @include desktop {
    margin-bottom: 60px;
  }
}

.product__list {
  display: block;
  margin-bottom: 28px;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  color: #444444;
  border-collapse: collapse;

  tbody {
    display: block;
  }
  @include tablet {
    margin-bottom: 0;
  }
}

.product__item {
  display: block;
  width: 100%;
  padding-bottom: 7.5px;
  margin-bottom: 8px;
  border-bottom: 1px solid #ececec;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  color: #444444;

  &:last-child {
    margin-bottom: 0;
  }
}

.product__key {
  width: 100px;
  
}

.product__value {
}

.product__wrapper-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  margin-bottom: 25.5px;
  text-align: center;
  background-color: #f1f1f1;
  @include tablet {
    width: 334px;
    margin: 0;
  }
  @include desktop {
    width: 525px;
  }
}

.product__image {
  max-width: 100%;
}

.product__footer {
  @include tablet {
    position: absolute;
    bottom: 0px;
    width: 292px;
  }
  @include desktop {
    left: 175px;
  }
}

.product__price {
  margin-bottom: 25.5px;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: #444444;
  text-align: center;
  @include desktop {
    margin-bottom: 30px;
    font-size: 20px;
  }
}

.product__button {
  display: block;
  width: 100%;
  padding: 14px 0px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
}