.stats {
  width: 320px;
  margin: 0 auto;
  
  @include tablet {
    width: 640px;
    margin-top: -185px;
  }

  @include desktop {
    display: flex;
    width: 960px;
    margin-top: -160px;
  }
}

.stats__header {
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 25px;
  padding-left: 40px;
  color: #000;
  background-color: #fff;

  @include tablet {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 129px;

    &::before {
      content: "";
      position: absolute;
      top: 27px;
      left: -15px;
      border: 15px solid transparent;
      border-bottom-color: #ffffff;
      transform: rotate(45deg);
    }
  }

  @include desktop {
    display: block;
    width: 240px;
    
    &::before {
      top: 22px;
    }
  }
}

.stats__slogan {
  display: block;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  @include tablet {
    width: 240px;
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: none;
  }

  @include desktop {
    width: auto;
    margin-bottom: 42px;
  }
}

.stats__intro {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  @include tablet {
    width: 210px;
    margin-top: 5px;
    padding-right: 47px;
    text-align: left;
  }
  @include desktop {
    width: auto;
    margin-bottom: 32px;
    padding-right: 30px;
  }
}

.stats__legend {
  display: block;
  font-size: 20px;
  line-height: 20px;
}

.stats__legend--top {
  display: none;

  @include tablet {
    display: block;
    width: 240px;
    color: rgba(0, 0, 0, 0.3);
  }
  @include desktop {
    width: auto;
  }
}

.stats__legend--bottom {
  padding-top: 20px;
  padding-bottom: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: $bg-darkgrey;

  @include tablet {
    display: none;
  }
}

.stats__legend sup{
  top: -0.25em;
  font-size: 90%;
}

.stats__list {
  width: 100%;
  border-collapse: collapse;

  @include tablet {
    display: flex;
  }
  @include desktop {
    display: flex;
    width: 640px;
  }
}

.stats__list tbody {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
}

.stats__list tr {
  color: #ffffff;
  background-color: #404040;
  &:nth-child(2) {
    background-color: #4e4e4e;
  }
  &:nth-child(3) {
    background-color: #353535;
  }
  &:nth-child(4) {
    background-color: #404040;
  }

  @include tablet {
    width: 250px;
    padding: 25px 35px;
    padding-bottom: 28px;
  }
}

.stats__list td {
  @include tablet {
    display: block;
    width: auto;
    padding: 0;
  }
}

.stats__value {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;
  vertical-align: top;
  padding-right: 0;
  font-size: 40px;
  line-height: 40px;

  @include tablet {
    margin-bottom: 7px;
    font-size: 72px;
    line-height: 72px;
  }
}

.stats__value sup {
  top: -0.35em;
  margin-left: 5px;
}

.stats__field {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;
  vertical-align: top;
  padding-left: 0;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
  @include tablet {
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }
}

.stats__field br {
  @include tablet {
    display: none;
  }
}